@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%
  }
  
  .bgimg {
    /* Background image */
    background-image: url('../image/cover-gourmet.jpg');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    background-repeat: no-repeat;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: 'Source Sans Pro', sans-serif;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
  }
  
  /* Position text in the top-left corner */
  .topleft {
    position: absolute;
    top: 16px;
    left: 16px;
  }
    .topleft .logo {
      height: 150px;
      width: 150px;
    }
  /* Position text in the top-left corner */
  .topright {
    position: absolute;
    top: 0;
    right: 16px;
  }
  /* Position text in the middle */
  .link {
    color:inherit;
    text-decoration: none;
  }
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding: 1% 10% 1% 10%;

    /*border-style: double;
    border-width: 5px;
    border-color: blanchedalmond;
    */
  }
    .middle .highlight {
      font-size: 35px;
      font-weight: 900;
      letter-spacing: 10px;
    }
  
  /* Position text in the middle */
  .bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
    #countdown {
      font-size: 25px;
    }
    
  /* Style the <hr> element */
  hr {
    margin: auto;
    width: 40%;
  }